#slide-container1
{
    border: 2px solid black;
    width: 100%;
}
#slide-container2
{
    border: 2px solid black;
    width: 100%;
}
#slide-container3
{
    border: 2px solid black;
    width: 100%;
}